body {
	font-family: "微软雅黑";
	margin: 0px;
	padding: 0px;
}

.center {
	text-align: center;
}

.article {
	margin: 50px 100px;
}

#main_body {
	background-image: url("../img/TitleBg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#frame {
	background: white;
	width: 1440px;
	margin: auto;
	text-align: left;
	filter: opacity(95%);
	-webkit-filter: opacity(95%);
}

#head_image {
	text-align: center;
}

#contact {
	text-align: center;
	padding: 10px;
	font-size: 24px;
	color: #407750;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.guide {
	cursor: pointer;
	display: block;
	width: auto;
	border-bottom: 1px solid #575;
	text-decoration: none;
	color: #575;
	margin: 0px 2px;
	text-align: center;
	font-size: 25px;
}

li {
	width: 130px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	transition: width 0.2s, height 0.2s;
	-moz-transition: width 0.2s, height 0.2s;
	-webkit-transition: width 0.2s, height 0.2s;
	-o-transition: width 0.2s, height 0.2s;
}

li:hover {
	width: 180px;
	transition: width 0.2s, height 0.2s;
	-moz-transition: width 0.2s, height 0.2s;
	-webkit-transition: width 0.2s, height 0.2s;
	-o-transition: width 0.2s, height 0.2s;
}

#menubox {
	float: left;
	height: 800px;
	width: 200px;
	position: relative;
	top: 0;
}

#main {
	float: right;
	width: 1150px;
	height: 800px;
}

iframe {
	text-align: left;
}

hr {
	margin-left: 43px;
	margin-right: 43px;
}

h3 {
	margin-left: 43px;
}

.box {
	width: 180px;
	height: 220px;
	text-align: center;
	margin: 0 0 43px 43px;
	border-style: solid;
	display: inline-block;
	cursor: pointer;
}

.box img {
	margin-top: 30px;
	margin-bottom: 10px;
	width: 100px;
	height: 100px;
}

.people {
	width: 587px;
	height: 200px;
	margin: 0 0 43px 43px;
	border-style: solid;
	display: inline-block;
	padding: 30px;
}

.people img {
	border-radius: 100px;
	width: 200px;
	height: 200px;
	float: left;
}

.desc {
	float: left;
	margin-left: 30px;
	width: 357px;
}

.desc .name {
	font-size: 36px;
	margin-bottom: 10px;
}

.desc .job {
	font-size: 24px;
	margin-bottom: 30px;
}

.box_body {
	padding-bottom: 30px;
}