* {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}

hr {
	height: 10px;
	border: none;
	border-top: 1px solid red;
}
/*红*/
.per_red_10 {width: 10%;background: rgb(25, 0, 0);}
.per_red_20 {width: 20%;background: rgb(51, 0, 0);}
.per_red_30 {width: 30%;background: rgb(76, 0, 0);}
.per_red_40 {width: 40%;background: rgb(102, 0, 0);}
.per_red_50 {width: 50%;background: rgb(127, 0, 0);}
.per_red_60 {width: 60%;background: rgb(153, 0, 0);}
.per_red_70 {width: 70%;background: rgb(178, 0, 0);}
.per_red_80 {width: 80%;background: rgb(204, 0, 0);}
.per_red_90 {width: 90%;background: rgb(229, 0, 0);}
.per_red_100 {width: 100%;background: rgb(255, 0, 0);}
/*橙*/
.per_orange_10 {width: 10%;background: rgb(255, 12, 0);}
.per_orange_20 {width: 20%;background: rgb(255, 25, 0);}
.per_orange_30 {width: 30%;background: rgb(255, 38, 0);}
.per_orange_40 {width: 40%;background: rgb(255, 50, 0);}
.per_orange_50 {width: 50%;background: rgb(255, 63, 0);}
.per_orange_60 {width: 60%;background: rgb(255, 76, 0);}
.per_orange_70 {width: 70%;background: rgb(255, 88, 0);}
.per_orange_80 {width: 80%;background: rgb(255, 101, 0);}
.per_orange_90 {width: 90%;background: rgb(255, 114, 0);}
.per_orange_100 {width: 100%;background: rgb(255, 127, 0);}
/*黄*/
.per_yellow_10 {width: 10%;background: rgb(255, 139, 0);}
.per_yellow_20 {width: 20%;background: rgb(255, 152, 0);}
.per_yellow_30 {width: 30%;background: rgb(255, 165, 0);}
.per_yellow_40 {width: 40%;background: rgb(255, 177, 0);}
.per_yellow_50 {width: 50%;background: rgb(255, 190, 0);}
.per_yellow_60 {width: 60%;background: rgb(255, 203, 0);}
.per_yellow_70 {width: 70%;background: rgb(255, 215, 0);}
.per_yellow_80 {width: 80%;background: rgb(255, 228, 0);}
.per_yellow_90 {width: 90%;background: rgb(255, 241, 0);}
.per_yellow_100 {width: 100%;background: rgb(255, 255, 0);}
/*绿*/
.per_green_10 {width: 10%;background: rgb(229, 255, 0);}
.per_green_20 {width: 20%;background: rgb(204, 255, 0);}
.per_green_30 {width: 30%;background: rgb(178, 255, 0);}
.per_green_40 {width: 40%;background: rgb(153, 255, 0);}
.per_green_50 {width: 50%;background: rgb(127, 255, 0);}
.per_green_60 {width: 60%;background: rgb(102, 255, 0);}
.per_green_70 {width: 70%;background: rgb(76, 255, 0);}
.per_green_80 {width: 80%;background: rgb(51, 255, 0);}
.per_green_90 {width: 90%;background: rgb(25, 255, 0);}
.per_green_100 {width: 100%;background: rgb(0, 255, 0);}
/*青*/
.per_cyan_10 {width: 10%;background: rgb(0, 255, 25);}
.per_cyan_20 {width: 20%;background: rgb(0, 255, 51);}
.per_cyan_30 {width: 30%;background: rgb(0, 255, 76);}
.per_cyan_40 {width: 40%;background: rgb(0, 255, 102);}
.per_cyan_50 {width: 50%;background: rgb(0, 255, 127);}
.per_cyan_60 {width: 60%;background: rgb(0, 255, 153);}
.per_cyan_70 {width: 70%;background: rgb(0, 255, 178);}
.per_cyan_80 {width: 80%;background: rgb(0, 255, 204);}
.per_cyan_90 {width: 90%;background: rgb(0, 255, 229);}
.per_cyan_100 {width: 100%;background: rgb(0, 255, 255);}
/*蓝*/
.per_blue_10 {width: 10%;background: rgb(0, 229, 255);}
.per_blue_20 {width: 20%;background: rgb(0, 204, 255);}
.per_blue_30 {width: 30%;background: rgb(0, 178, 255);}
.per_blue_40 {width: 40%;background: rgb(0, 153, 255);}
.per_blue_50 {width: 50%;background: rgb(0, 127, 255);}
.per_blue_60 {width: 60%;background: rgb(0, 102, 255);}
.per_blue_70 {width: 70%;background: rgb(0, 76, 255);}
.per_blue_80 {width: 80%;background: rgb(0, 51, 255);}
.per_blue_90 {width: 90%;background: rgb(0, 25, 255);}
.per_blue_100 {width: 100%;background: rgb(0, 0,255);}
/*紫*/
.per_purple_10 {width: 10%;background: rgb(0, 0, 229);}
.per_purple_20 {width: 20%;background: rgb(0, 0, 204);}
.per_purple_30 {width: 30%;background: rgb(0, 0, 178);}
.per_purple_40 {width: 40%;background: rgb(0, 0, 153);}
.per_purple_50 {width: 50%;background: rgb(0, 0, 127);}
.per_purple_60 {width: 60%;background: rgb(0, 0, 102);}
.per_purple_70 {width: 70%;background: rgb(0, 0, 76);}
.per_purple_80 {width: 80%;background: rgb(0, 0, 51);}
.per_purple_90 {width: 90%;background: rgb(0, 0, 25);}
.per_purple_100 {width: 100%;background: rgb(0, 0, 0);}



/**********主题框架start**********/
body {
	font-family: "微软雅黑";
	font-size: 15px;
}

body.index {
	background: url(../img/red_background.jpg) bottom fixed repeat-x;
}

/*head*/

#head {
	height: 180px;
	background: url(../img/red_ad.png) no-repeat center;
}

.head_top {
	background: rgba(0, 0, 0, 0.3);
}

.nav {
	width: 1000px;
	height: 45px;
	margin: 0 auto;
}

.nav_left {
	float: left;
}
.nav_right {
	float: right;
}

.nav li {
	float: left;
}

.nav li a {
	display: block;
	text-align: right;
	padding: 0 15px;
	line-height: 45px;
	color: white;
	width: 30px;
	height: 45px;
	opacity: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.nav li {
	background-image: url(../img/icon_head.png);
	background-repeat: no-repeat;
}
.nav_main {
	background-position: 14px 7px;
}
.nav_video {
	background-position: 14px -33px;
}
.nav_manga {
	background-position: 14px -72px;
}
.nav_game {
	background-position: 14px -110px;
}
.nav_article {
	background-position: 14px -148px;
}
.nav_html5 {
	background-position: 14px -188px;
}
.nav_github {
	background-position: 14px -228px;
}
.nav_weibo {
	background-position: 14px -268px;
}

.nav li a:hover {
	background: rgba(255, 255, 255, 0.3);
	width: 68px;
	opacity: 1;
}
.nav li.nav_weibo a:hover {
	width: 500px;
}


/*content*/

#content {
	width: 1000px;
	/*height: 1000px;*/
	background: white;
	text-align: center;
	margin: 0 auto;
	box-shadow: inset 0px 0px 30px red;
}


/*foot*/

#foot {
	height: 80px;
	background: pink;
}

.foot_content {
	width: 1000px;
	margin: 0 auto;
}

.e-mail {
	text-align: center;
	height: 80px;
	line-height: 80px;
	color: brown;
}


/*person*/

#person {
	position: fixed;
	width: 200px;
	height: 400px;
	right: 0;
	bottom: 0;
	z-index: 999;
}

#person>.talk {
	position: absolute;
	background: white;
	bottom: 220px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid red;
}

#person>.triangle {
	position: absolute;
	bottom: 197px;
	left: 10px;
}

#person>.toy {
	position: absolute;
	bottom: 0;
	height: 200px;
	width: 200px;
	cursor: pointer;
}

#person>.toy>.body {
	position: relative;
}
#person>.toy>.eye {
	position: absolute;
	left: 34%;
	top: 20%;
}
#person>.toy>.mouse {
	position: absolute;
	left: 42%;
	top: 36%;
}
/**********主体框架end**********/


/**********main start**********/

.skill, .me, .new {
	width: 440px;
	padding: 15px;
	margin: 15px;
	box-shadow: 0 0 5px red;
	border-radius: 5px;
}

.skill {
	float: left;
}

.skill>#option>.now {
	font-weight: bold;
	color: red;
}

.skill>.skillDetail {
	color: white;
}
.skill>.skillDetail .title {
	float: left;
}
.skill>.skillDetail .per {
	float: right;
}
.skill>.skillDetail>.line {
	padding: 5px;
	margin-top: 5px;
	height: 20px;
}

.me {
	float: right;
	position: relative;
}

.me .myHead {
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius: 20px;
	right: 10px;
	top: 10px;
	transition: all 1s;
}
.me .myHead:hover {
	width: 240px;
	height: 240px;
	border-radius: 24px;
}
.me hr {
	width: 230px;
}

.new {
	float: right;
}

.new img {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 0px;
	transition: all 0.3s;
}
.new img:hover {
	width: 150px;
	height: 150px;
	left: -25px;
	top: -25px;
}
.new .img {
	position: absolute;
	overflow: hidden;
	width: 100px;
	height: 100px;
	float: left;
	border-radius: 10px;
}

.new ul ul {
	height: 120px;
}

.newContent {
	width: 330px;
	float: right;
}
.newContent:hover li {
	color: indianred;
}
/**********main end**********/


/**********game start**********/

.game {
	margin: 15px;
	box-shadow: 0 0 5px red;
}

.game img {
	width: 210px;
	height: 210px;
	border-radius: 10px;
	transition: all 0.2s;
	position: absolute;
}

.game .img {
	position: relative;
	float: left;
	width: 210px;
	height: 210px;
	margin: 15px;
	background: black;
	border-radius: 10px;
}
.game .img:hover img {
	opacity: 0.3;
}
.game .img:hover h1 {
	opacity: 0.5;
}

.game h1 {
	position: absolute;
	line-height: 210px;
	width: 210px;
	text-align: center;
	color: white;
	opacity: 0;
	transition: all 0.2s;
}

/**********game end**********/


/**********article start**********/

.article {
	margin: 15px;
	padding: 15px;
	box-shadow: 0 0 5px red;
	width: 940px;
	float: left;
	border-radius: 5px;
}

.article .title {
	float: left;
}

.article .date {
	float: right;
}

.article {
	transition: all 0.2s;
}
.articleA:hover .article {
	background: rgba(255, 0, 0, 0.6);
	color: white;
}

/**********article end**********/


/**********h5 start**********/

.h5 {
	margin: 15px;
	box-shadow: 0 0 5px red;
}

.h5 img {
	width: 210px;
	height: 210px;
	border-radius: 10px;
	transition: all 0.2s;
	position: absolute;
}

.h5 .img {
	position: relative;
	float: left;
	width: 210px;
	height: 210px;
	margin: 15px;
	background: black;
	border-radius: 10px;
}
.h5 .img:hover img {
	opacity: 0.3;
}
.h5 .img:hover h1 {
	opacity: 0.5;
}

.h5 h1 {
	position: absolute;
	line-height: 210px;
	width: 210px;
	text-align: center;
	color: white;
	opacity: 0;
	transition: all 0.2s;
}

/**********h5 end**********/