* {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}


hr {
	height: 10px;
	border: none;
	border-top: 1px solid red;
}


/**********主题框架start**********/
body {
	font-family: "微软雅黑";
	font-size: 15px;
}

body.index {
	background: url(../img/red_background.jpg) bottom fixed repeat-x;
}

/*head*/

#head {
	height: 180px;
	background: url(../img/red_ad.png) no-repeat center;
}

.head_top {
	background: rgba(0, 0, 0, 0.3);
}

.nav {
	width: 1000px;
	height: 45px;
	margin: 0 auto;
}

.nav_left {
	float: left;
}
.nav_right {
	float: right;
}

.nav li {
	float: left;
}

.nav li a {
	display: block;
	text-align: right;
	padding: 0 15px;
	line-height: 45px;
	color: white;
	width: 30px;
	height: 45px;
	opacity: 0;
	overflow: hidden;
	transition: all 0.5s;
}

.nav li {
	background-image: url(../img/icon_head.png);
	background-repeat: no-repeat;
}
.nav_main {
	background-position: 14px 7px;
}
.nav_video {
	background-position: 14px -33px;
}
.nav_manga {
	background-position: 14px -72px;
}
.nav_game {
	background-position: 14px -110px;
}
.nav_article {
	background-position: 14px -148px;
}
.nav_html5 {
	background-position: 14px -188px;
}
.nav_github {
	background-position: 14px -228px;
}
.nav_weibo {
	background-position: 14px -268px;
}

.nav li a:hover {
	background: rgba(255, 255, 255, 0.3);
	width: 68px;
	opacity: 1;
}
.nav li.nav_weibo a:hover {
	width: 500px;
}


/*content*/

#content {
	width: 1000px;
	/*height: 1000px;*/
	background: white;
	text-align: center;
	margin: 0 auto;
	box-shadow: inset 0px 0px 30px red;
}


/*foot*/

#foot {
	height: 80px;
	background: pink;
}

.foot_content {
	width: 1000px;
	margin: 0 auto;
}

.e-mail {
	text-align: center;
	height: 80px;
	line-height: 80px;
	color: brown;
}


/*person*/

#person {
	position: fixed;
	width: 200px;
	height: 400px;
	right: 0;
	bottom: 0;
	z-index: 999;
}

#person>.talk {
	position: absolute;
	background: white;
	bottom: 220px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid red;
}

#person>.triangle {
	position: absolute;
	bottom: 197px;
	left: 10px;
}

#person>.toy {
	position: absolute;
	bottom: 0;
	height: 200px;
	width: 200px;
	cursor: pointer;
}

#person>.toy>.body {
	position: relative;
}
#person>.toy>.eye {
	position: absolute;
	left: 34%;
	top: 20%;
}
#person>.toy>.mouse {
	position: absolute;
	left: 42%;
	top: 36%;
}
/**********主体框架end**********/


/**********main start**********/

.song, .me, .new {
	width: 440px;
	padding: 15px;
	margin: 15px;
	box-shadow: 0 0 5px red;
	border-radius: 5px;
}

.song {
	float: left;
}

.song audio {
	width: 285px;
}

.me {
	float: right;
	position: relative;
}

.me .myHead {
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius: 20px;
	right: 10px;
	top: 10px;
	transition: all 1s;
}
.me .myHead:hover {
	width: 240px;
	height: 240px;
	border-radius: 24px;
}
.me hr {
	width: 230px;
}

.new {
	float: right;
}

.new img {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 0px;
	transition: all 0.5s;
}
.new img:hover {
	width: 150px;
	height: 150px;
	left: -25px;
	top: -25px;
}
.new .img {
	position: absolute;
	overflow: hidden;
	width: 100px;
	height: 100px;
	float: left;
	border-radius: 10px;
}

.new ul ul {
	height: 120px;
}

.newContent {
	width: 330px;
	float: right;
}
.newContent:hover li {
	color: indianred;
}
/**********main end**********/


/**********game start**********/

.game {
	margin: 15px;
	box-shadow: 0 0 5px red;
}

.game img {
	width: 210px;
	height: 210px;
	border-radius: 10px;
	transition: all 0.2s;
	position: absolute;
}

.game .img {
	position: relative;
	float: left;
	width: 210px;
	height: 210px;
	margin: 15px;
	background: black;
	border-radius: 10px;
}
.game .img:hover img {
	opacity: 0.3;
}
.game .img:hover h1 {
	opacity: 0.5;
}

.game h1 {
	position: absolute;
	line-height: 210px;
	width: 210px;
	text-align: center;
	color: white;
	opacity: 0;
	transition: all 0.2s;
}

/**********game end**********/


/**********article start**********/

.article {
	margin: 15px;
	padding: 15px;
	box-shadow: 0 0 5px red;
	width: 940px;
	float: left;
	border-radius: 5px;
}

.article .title {
	float: left;
}

.article .date {
	float: right;
}

.article {
	transition: all 0.2s;
}
.articleA:hover .article {
	background: rgba(255, 0, 0, 0.6);
	color: white;
}

/**********article end**********/


/**********h5 start**********/

.h5 {
	margin: 15px;
	box-shadow: 0 0 5px red;
}

.h5 img {
	width: 210px;
	height: 210px;
	border-radius: 10px;
	transition: all 0.2s;
	position: absolute;
}

.h5 .img {
	position: relative;
	float: left;
	width: 210px;
	height: 210px;
	margin: 15px;
	background: black;
	border-radius: 10px;
}
.h5 .img:hover img {
	opacity: 0.3;
}
.h5 .img:hover h1 {
	opacity: 0.5;
}

.h5 h1 {
	position: absolute;
	line-height: 210px;
	width: 210px;
	text-align: center;
	color: white;
	opacity: 0;
	transition: all 0.2s;
}

/**********h5 end**********/