
.animation-delay300ms{animation-delay: 300ms;}
.animation-delay500ms{animation-delay: 500ms;}
.animation-delay1000ms{animation-delay: 1000ms;}
.animation-delay1300ms{animation-delay: 1300ms;}
.animation-delay1500ms{animation-delay: 1500ms;}
.animation-delay2000ms{animation-delay: 2000ms;}
.animation-delay2300ms{animation-delay: 2300ms;}
.animation-delay2500ms{animation-delay: 2500ms;}
.animation-delay4500ms{animation-delay: 4500ms;}
.animation-delay6500ms{animation-delay: 6500ms;}
.animation-delay7500ms{animation-delay: 7500ms;}
.animation-delay8500ms{animation-delay: 8500ms;}
.animation-delay3000ms{animation-delay: 3s;}
.animation-delay6000ms{animation-delay: 6s;}
.animation-delay9000ms{animation-delay: 9s;}
.animation-delay12000ms{animation-delay: 12s;}
.animation-delay15000ms{animation-delay: 15s;}
.animation-delay17000ms{animation-delay: 17s;}
.animation-delay18000ms{animation-delay: 18s;}
.animation-delay20000ms{animation-delay: 20s;}
.animation-delay21000ms{animation-delay: 21s;}




/*当前页向上的动画*/
@keyframes toTop {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}
@-webkit-keyframes toTop {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}

.toTop {
	animation-name: toTop;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-timing-function: linear;
	/*animation-iteration-count: 1;*/
	-webkit-animation-name: toTop;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
}
/*当前页向下动画*/
@keyframes toBottom{
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}
.toBottom {
	animation-name: toBottom;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}
/*上一页向下的动画*/
@keyframes prevBottom {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}
.prevBottom {
	animation-name: prevBottom;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}
/*下一页向上*/
@keyframes nextTop {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}
.nextTop {
	animation-name: nextTop;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}
/**********第一页动画——王逸然**********/
@keyframes  fadeIn {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.fadeIn {
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes bigRotate{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-30deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(30deg);}
	100%{transform: rotate(0deg);}
}

.bigRotate {
	animation: bigRotate 0.1s linear infinite;
}

@keyframes word1In{
	0%{transform: translateX(-200%);}
	100%{transform: translateX(0%);}
}

.dropAlarm {
	animation: dropAlarm 1s linear both;
}

@keyframes dropAlarm{
	0%{transform: translateY(0%);}
	10%{transform: translateY(-200%);}
	20%{transform: translateY(200%);}
	30%{transform: translateY(-200%);}
	40%{transform: translateY(200%);}
	50%{transform: translateY(-200%);}
	60%{transform: translateY(200%);}
	70%{transform: translateY(-200%);}
	100%{transform: translateY(-1000%);}
}

.word1In {
	animation-name: word1In;
	animation-duration: 2s;
	animation-fill-mode: both;
}

@keyframes word2In{
	0%{transform: translateX(200%);}
	100%{transform: translateX(0%);}
}

.word2In {
	animation-name: word2In;
	animation-duration: 2s;
	animation-fill-mode: both;
}

/**********第二页动画——吕宝龙**********/
@keyframes moveX{
	0%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(-150%);
	}
}

.moveX{
	animation: moveX 7s linear both;
}

/**********第三页动画——刘家彬**********/
@keyframes page3_upDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(0);
	}
}

.page3_upDown {
	animation: page3_upDown 2s linear infinite;
	-webkit-animation: page3_upDown 2s linear infinite;
}

@keyframes page3_fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.page3_fadeIn {
	animation-name: page3_fadeIn;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear;
	-webkit-animation-name: page3_fadeIn;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
}

@keyframes page3_fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.page3_fadeOut {
	animation-name: page3_fadeOut;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear;
	-webkit-animation-name: page3_fadeOut;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
}

@keyframes page3_coolScale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}

.page3_coolScale {
	animation: page3_coolScale 2s linear infinite;
	-webkit-animation: page3_coolScale 2s linear infinite;
}

@keyframes page3_hotScale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}

.page3_hotScale {
	animation: page3_hotScale 2s linear infinite;
	-webkit-animation: page3_hotScale 2s linear infinite;
}

/**********第四页动画——范国财**********/


/**********第五页动画——刘钧华**********/
@keyframes page5_todown{
	0%{transform: translateY(0);}
	100%{transform: translateY(600px);}
}
.page5_todown{
	animation-name:page5_todown;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-timing-function: ease-in;
}
@keyframes page5_toright{
	0%{transform: translateX(0);}
	100%{transform: translateX(300px);}
}

.page5_toright{
	animation-name: page5_toright;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}
@keyframes page5_fadeIn{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.page5_fadeIn{
	animation-name: page5_fadeIn;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}
@keyframes page5_fadeOut{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
.page5_fadeOut{
	animation-name: page5_fadeOut;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

/**********固定布局动画**********/
@keyframes rotateMusic{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

.rotateMusic {
	animation: rotateMusic 2s linear infinite;
}
