/*全页面*/
body {
	font-family: "微软雅黑";
	font-weight:  bold;
	background: #DFD;
}
/*全表*/
table, td {
	background: #EFE;
	text-align: center;
	width: 500px;
	border: 2px solid #DDD;
	border-collapse:collapse;
	table-layout: fixed;
	margin: 5% auto;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 100, 0, 0.8);
}
/*每行*/
.table tr {
	height: 30px;
}
/*表头与字*/
.table span, td[name="head"] {
	font-size: 20px;
	padding: 10px;
}
/*表头图*/
.table td[name="head"] {
	height: 50px;
}
/*下拉表*/
.table select {
	height: 29px;
	font-size: 20px;
	border: 2px solid #DDD;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 100, 0, 0.8);
}
/*选择年*/
.table select[name="SelectYear"] {
	width: 80px;
}
/*选择月*/
.table select[name="SelectMonth"] {
	width: 50px;
}
/*公历*/
.solar {
	text-align: right;
	font-size: 25px;
	padding-right: 7px;
}
/*农历*/
.lunar {
	text-align: left;
	font-size: 12px;
	padding: 2px;
}
