
*{margin: 0;padding: 0;}
		
.dui{width: 1423px; height: 613px; background: #e9eef2; }

.left_top
{
	width:237px;
	height:225px ;
	margin-top: 36px;
	margin-left: 222px;
	position: relative;
}

h2{float:left; height: 20px;width: 237px; font-size: 20px;padding: 0;}
.clear
{
	clear:both ;
}

h2 img
{
	width: 152px;
	height: 13px;
	position: absolute;
	left: 84px;
	top: 5px;
}
.news1
{

	margin-top: 14px;
	
}
.news1 li
{
	list-style: none;
	background:url(../images/ser_list.jpg) no-repeat left bottom;
	margin-bottom: 25px;
	line-height: 11px;
}
.news1 .liend
{
	margin-bottom: 0;
}
.news1  li a
{
	font-size: 11px;
	margin-left:24px;
	text-align: center;
	color: #606060;
	text-decoration: none;
}
.check_more{
	width: 298px;
	height: 18px;
	background-color: #d8d8d8;
	
	margin-left: 222px;
}
img
{
	float: right;
	width: 76px;
	height: 18px;
}
.left_bottom
{
	width: 260px;
	height: 179px;
	margin-left: 222px;
	margin-top: 44px;
	position: relative;
}
.con_us
{
	position: relative;
	height: 62px;
	width: 179px;
	float:left;
}
.con_us .img1
{
	width: 61px;
	height: 62px;
	position: absolute;
	left: 0;
	top: 0;
}
h3
{
	position: absolute;
	left: 75px;
	top:11px;
	font-size: 24px;
}

#bot
{
	position: absolute;
	left:165px;
	top:38px;
	height: 15px;
	width: 180px;
	float: left;
	font-size: 12px;
}
#bot a
{
	color: white;
	text-decoration: none;
	background-color: #10c2d7;
	
}

.img2
{
	width: 85px;
	height: 14px;
	position: absolute;
	top: 38px;
	left:75px;
}
.con_way
{
	position: absolute;
	left: 0;
	top:82px;
	list-style: none;
}
.con_way li
{
	margin-bottom: 18px;
	font-size: 11px;
	color: #666666;
}

.bottom
{
	width: 980px;
	height: 19px;
	background: url(../images/ser_bottom.jpg) no-repeat center;
	margin-left: 222px;
	margin-top: 59px;
}
.right
{
	width: 647px;
	height: 345px;
	position: absolute;
	top:32px ;
	right: 222px;
}
.abus
{
	position: absolute;
	width: 127px;
	height: 29px;
	left: 0;
}
.bg1
{
	width: 335px;
	height: 13px;
	position: absolute;
	left:127px;
	top: 17px;
	
}
.position
{
	position: absolute;
	top: 17px;
	left:462px;
	font-size: 11px;
	color: white;
	background-color:#10c2d7 ;
}
.position a
{
	text-decoration: none;
	color: white;
}
.text1
{
	width:645px;
	height: 105px;
	position: absolute;
	top:60px;
	font-size: 14px;
	color: #666666;
	line-height: 33px;
}
.text2
{
	width:645px;
	height: 133px;
	position: absolute;
	top:180px;
	font-size: 14px;
	color: #666666;
	line-height: 33px;
}
.text3
{
	width:645px;
	height: 133px;
	position: absolute;
	top: 270px;
	font-size: 14px;
	color: #666666;
	line-height: 33px;
}
.text4
{
	width:645px;
	height: 133px;
	position: absolute;
	top: 390px;
	font-size: 14px;
	color: #666666;
	line-height: 33px;
}
