* {
	padding: 0;
	border: 0;
	margin: 0;
}

.color_JD, .bottom {
	background: #c81522;
	color: white;
}

.project {
	margin-top: 1.5mm;
	margin-left: 3mm;
	margin-bottom: 10mm;
	font-weight: bold;
	color: white;
}

img.line {
	position: absolute;
	width: 210mm;
}

#main {
	margin: 0 auto;
	position: relative;
	width: 210mm;
	height: 297mm;
	font-size: 3.9mm;
	font-family: "微软雅黑";
}

.head {
	position: absolute;
	left: 0;
	top: 0;
	height: 34.2mm;
	width: 100%;
}

.head .name {
	position: absolute;
	left: 9.5mm;
	top: 11mm;
	font-size: 8.8mm;
	font-weight: bold;
}

.head .job {
	position: absolute;
	left: 9.5mm;
	top: 24.3mm;
}

.head .right {
	position: relative;
	margin-left: 72.3mm;
	margin-top: 12.7mm;
}

.head .right .list1 {
	float: left;
}

.head .right .list1 .tel {
	
}

.head .right .list1 .personal {
	margin-top: 5mm;
}

.head .right .list2 {
	position: absolute;
	left: 43.4mm;
}

.head .right .list2 .mail {
	
}

.head .right .list2 .github {
	margin-top: 5mm;
}

.photo {
	position: absolute;
	right: 10mm;
	top: 10mm;
	padding: 2mm;
	background: white;
}

.photo>img {
	height: 30mm;
}

.content {
	position: absolute;
	top: 42.3mm;
}

.content .time {
	margin-left: 11mm;
	font-weight: bold;
}

.content .word {
	margin-left: 11mm;
	margin-top: 1mm;
}

.bottom {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 10mm;
	width: 100%;
}
