@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "微软雅黑";
}
li {
	list-style: none;
}
html, body {
	height: 100%;
}

body {
	overflow: hidden;
}

h1, h2 {
	font-size: 10vw;
	text-align: center;
	padding: 50px 0;
}

#box {
	background: lightblue;
	margin: 0 auto;
	position: relative;
}

@media only screen and (max-width: 600px) {
	#box {
		width: 100%;
		height: 100%;
	}
}
@media only screen and (min-width: 600px) {
	#box {
		width: 66%;
		height: 100%;
	}
}

ul.firstLayerUl>li {
	font-size: 5vw;
	text-align: center;
	margin: 2% auto;
	display: block;
	background: lightskyblue;
	width: 30%;
	height: 10%;
	line-height: 50px;
	border-radius: 25px;
	cursor: pointer;
}

ul.firstLayerUl>li:hover {
	background: blue;
}

.plane {
	position: absolute;
	width: 60px;
	height: 36px;
}

.bullet {
	position: absolute;
	width: 12px;
	height: 44px;
}

.enemy {
	position: absolute;
	width: 23px;
	height: 30px;
}

.score {
	position: absolute;
	color: white;
	font-size: 50px;
}
